#!/bin/bash
    apt update
    apt upgrade -y
    apt install -y apache2 php php-mysql unzip php-curl
    
    systemctl enable apache2
    systemctl restart apache2
    
    curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
    unzip awscliv2.zip
    ./aws/install

    rm /var/www/html/index.html
    cd /var/www/html
    wget https://raw.githubusercontent.com/Vic-Winderix/AWS/refs/heads/main/AWS-Terraform/API/index.php

    apt install mysql-client -y

    sudo cat <<EOF > /home/ubuntu/data.sql
        ${tablescript}
EOF

    until mysql -h ${db_endpoint} -u admin -p'r0998157!' files; do
        echo "Waiting for DB..."
        sleep 5
    done

    sudo cat <<'EOF' > /var/www/html/connect.php
<?php
$db_host = "${db_endpoint}";
$db_user = "admin";
$db_pass = "r0998157!";
$db_name = "files";

ini_set('display_errors', 1);
ini_set('display_startup_errors', 1);
error_reporting(E_ALL);

$conn = new mysqli($db_host, $db_user, $db_pass, $db_name);

if ($conn->connect_errno) {
    echo "Sorry, this website is experiencing problems.<br>";
    echo "Errno: " . $conn->connect_errno . "<br>";
    echo "Error: " . $conn->connect_error . "<br>";
    exit;
}
?>
EOF