stages:
  - deploy

variables:
  AWS_REGION: "eu-west-1"
  TF_WORKING_DIR: "AWS-Terraform"   # map waar je Terraform files staan

deploy:
  stage: deploy
  image: hashicorp/terraform:1.6.7 # Docker image met Terraform
  script:
    - echo "Start deployment"
    # Login AWS (bijvoorbeeld via environment variables)
    - terraform -chdir=$TF_WORKING_DIR init
    - terraform -chdir=$TF_WORKING_DIR plan -out=tfplan
    - terraform -chdir=$TF_WORKING_DIR apply -auto-approve tfplan
  only:
    - main